/* --- Fonts --- */
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.woff2') format('woff2-variations'),
        url('/fonts/Inter.woff2') format('woff2'); /* Fallback */
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_Italic.woff2') format('woff2-variations'),
        url('/fonts/Inter_Italic.woff2') format('woff2'); /* Fallback */
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono.woff2') format('woff2-variations'),
        url('/fonts/JetBrainsMono.woff2') format('woff2'); /* Fallback */
    font-weight: 100 800;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono-Italic.woff2') format('woff2-variations'),
        url('/fonts/JetBrainsMono-Italic.woff2') format('woff2'); /* Fallback */
    font-weight: 100 800;
    font-display: swap;
    font-style: italic;
}

:root {
    --body-background: hsl(210, 20%, 98%);
    --base-font-family: 'Inter', system-ui, sans-serif;
    --code-font-family: 'JetBrainsMono', 'Courier New', monospace;

    --accent: hsl(220, 73%, 56%);
    --accent-dark: hsl(220, 73%, 46%);
}

// Sidebar title, subtitle, avatar adjustment
.sidebar {
    --sidebar-avatar-size: 200px;

    @include respond(2xl) {
        --sidebar-avatar-size: 240px;
    }

    header {
        .site-name {
            font-size: 2rem;
            font-weight: 700;
            @include respond(2xl) {
                font-size: 2.2rem;
            }     
        }

        .site-description {
            font-size: 1.5rem;
            font-weight: 400;
            @include respond(2xl) {
                font-size: 1.7rem;
            }
        }

        .site-avatar .site-logo {
            object-fit: cover;
            object-position: center;
            border-radius: 15%;
            filter: hue-rotate(180deg) saturate(35%);
        }
    }
}

// Footer adjustment
footer.site-footer {
    &:before {
        background: var(--accent);
    }
}

// Single post pages
body.article-page {
    .left-sidebar {
        display:none;
    }

    .back-to-home {
        a {
            display: inline-flex;
            align-items: center; 
            gap: 4px;          
            color: var(--accent-dark); 
            opacity: 0.7;
            font-size: 1.5rem; 
            font-weight: 500;
            transition: all 0.2s ease;

            svg {
                width: 16px; 
                height: 16px;
                stroke-width: 2.5;
            }

            &:hover {
                opacity: 1;
                transform: translateX(-3px);
            }
        }
    }
}

.article-footer {
    .article-copyright, 
    .article-license {
        color: hsl(210, 10%, 70%);
        text-align: center;
        opacity: 0.7;

        a {
            color: var(--accent);
            text-decoration: none;
            font-weight: 400;
        }

        svg {
            width: 16px;
            height: 16px;
        }
    }
}